*.pyc
__pycache__
build/**
resources/payloads/*.lua
venv
logs.txt
.DS_Store
dist/**
a.py
resources/tools/a.miz
tests/**
# User-specific stuff
.idea/

/kneeboards
/liberation_preferences.json
/state.json

logs/liberation.log

qt_ui/logs/liberation.log

*.psd
resources/scripts/plugins/*
