*.pyc
__pycache__
build/**
# Sphinx
docs/_build
resources/payloads/*.lua
venv
.DS_Store
.vscode/settings.json
dist/**
/.coverage
/coverage.xml
# User-specific stuff
.idea/
.env
env/

/kneeboards
/liberation_preferences.json
/state.json
/serverconfig.env

/logs/
/resources/logging.yaml

*.psd
