*.pyc
__pycache__
build/**
resources/payloads/*.lua
venv
logs.txt
.DS_Store
dist/**
a.py
resources/tools/a.miz
tests/**
# User-specific stuff
.idea/

liberation_preferences.json

logs/liberation.log

qt_ui/logs/liberation.log

*.psd
.env
.vscode/launch.json
.vscode/settings.json
