<strong>Author(s): {{ campaign.authors }}</strong>
<br/><br/>

<strong>Default factions:</strong>
<span style="color:#82A466">&nbsp;{{campaign.recommended_player_faction}}</span> VS <span style="color:orange">&nbsp;{{campaign.recommended_enemy_faction}}</span>
<br/>

{{ campaign.description|safe }}
