<b>You are clear for takeoff</b>

<p>
  Some player flights may be delayed to start. For such flights, it will not be
  possible to enter the cockpit until its mission start time, shown in the flight
  information window.
</p>

<p>
  To reduce delays, schedule packages with player flights with an earlier TOT.
  Note that if some flights within the package will take a long time to reach the
  target, a player flight may still be delayed.
</p>

<p>
  To avoid delays entirely, use the "Never delay player flights" option in the
  mission generation settings. Note that this will <strong>not</strong> adjust
  the timing of your mission; this option only allows you to wait in the
  cockpit.
</p>

<p>
  For more information, see the
  <a
    href="https://github.com/dcs-liberation/dcs_liberation/wiki/Mission-planning"
    style="color: #ffffff"
  >mission planning documentation</a> on our wiki.
</p>

<h2>Launching the mission:</h2>

<p>
  Launch the <code>liberation_nextturn</code> mission as you normally would for single-
  or multi-player. Note that even for single-player, running the mission with the
  dedicated server, <em>even on the same machine</em>, can significantly improve frame
  rates, but may cause AI wingmen to behave strangely during taxi.
</p>

<p>
  For advice on using a dedicated server to play DCS Liberation, see
  <a
    style="color: #ffffff"
    href="https://github.com/dcs-liberation/dcs_liberation/wiki/Dedicated-Server-Guide"
  >the guide</a> on our wiki.
</p>

<h2>Finishing</h2>

<p>Once you have played the mission, click on the \"Accept Results\" button.</p>

<p>
  If DCS Liberation does not detect mission end, use the manually submit button,
  and choose the state.json file.
</p>