

QWidget {
    background-color: #4E5760;
    color:white;
}

QComboxBox {
    background-color: #fff;
    color:white;
}

QLiberationWindow{
    background-color: #4E5760;
    color:white;
}

QTopPanel,
QTopPanel *{
    background-color: #aaa;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

QPushButton[style="btn-primary"]{
    background-color:#699245;
    cursor:pointer;
    padding: 5px 5px 5px 5px;
    border-radius:2px;
}

QPushButton[style="btn-primary"]:hover{
    background-color:#f00;
    padding: 5px 5px 5px 5px;
    border-radius:2px;
}

QBaseMenu{
    background-color:#699245;
    color:white;
}

QWidget[style="baseMenuHeader"]{
    font-size: 24px;
    font-weight: bold;
}