

/*QWidget {
    background-color: #4E5760;
    color:white;
}

QComboxBox {
    background-color: #fff;
    color:white;
}

QLiberationWindow{
    background-color: #4E5760;
    color:white;
}

QTopPanel,
QTopPanel *{
    background-color: #aaa;
    color: white;
    font-size: 12px;
    font-weight: bold;
}*/

QPushButton[style="btn-success"]{
    background-color:#699245;
    color: white;
    cursor:pointer;
    padding: 5px 5px 5px 5px;
    border-radius:5px;
}

QPushButton[style="btn-success"]:hover{
    background-color:#8ABC5A;
    padding: 5px 5px 5px 5px;
    border-radius:5px;
    cursor: pointer;
}

QPushButton[style="btn-danger"]{
    background-color:#9E3232;
    color: white;
    cursor:pointer;
    padding: 5px 5px 5px 5px;
    border-radius:5px;
}

QPushButton[style="btn-danger"]:hover{
    background-color:#D84545;
    padding: 5px 5px 5px 5px;
    border-radius:5px;
    cursor: pointer;
}

/*QBaseMenu{
    background-color:#699245;
    color:white;
}

QWidget[style="baseMenuHeader"]{
    font-size: 24px;
    font-weight: bold;
}*/